
/* Trying to fix elements being too large for screen, and not stretching to screen */
html {
  height: 100vh;
}

body {
  min-height: 100vh;
}

html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(151,162,217);
  background: linear-gradient(160deg, rgba(151,162,217,1) 0%, rgba(73,73,186,1) 35%, rgba(39,33,138,1) 100%);
}